# Environment Variables
.env

# Database
db.sqlite3

# Virtual Environment
venv/
env/
.venv/

# Static Files
staticfiles/

# Media Files
media/

# Python Cache
__pycache__/
*.py[cod]

# IDE
.vscode/
.idea/